*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagenesnav{
    width: 90px;
    max-width: 1000px;
    padding: auto;
}

.login{
    margin: auto;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #052D38;
}


h1{
    color: #F2F2F2;
}