.header{
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    background: #052D38;
    color: white;
    font-size: 30px;  
    padding-top: 10px;
    padding: 20px 50px 0px 50px;
}
/*-------------------------------------*/

.topnav{    
    background-color: #56ABC2;
    overflow: hidden;      
    display: flex;
    justify-content: center;    
}

.topnav a {    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: white;
    color: black;
}
    
.topnav a.active {
    background-color: #04AA6D;
    color: white;
 }
/*---------------------------------------*/

.icono{ 
    width: 50px;      
}
.icono a{       
    color: #fff;
    font-size: 50px;
}
/*008EB5*/
/*---------------------------------------*/


/*---------------------------------------*/

h1{
    padding: 10px 0px 20px 40px;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 2px #008EB5;
}
/*---------------------------------------*/

.contenedor_noticias{
    column-count: 2;      
}

.tarjeta .ajustar{    
    margin: 5%;
    width: 600px;
    height: 400px;
    border: solid;
    border-color: white;
    object-fit: contain;
    position: relative;
    display: inline-block;    
}

.texto{
    position: static;    
    width: 550px;
    margin-left: 50px;
    margin-top: -37px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;    
}
/*---------------------------------------*/
.tips{
    background-color: #56ABC2;
    height: 90px;
    overflow: hidden;          
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
}

.tips a{    
    color: black;
    text-align: center;
    padding: 14px 16px;    
    font-size: 17px;        
}
/*---------------------------------------*/

.footer{
    background-color: black;
    color: white;
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
}

.iconosf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.iconofooter{ 
    width: 50px;      
}

.iconofooter a{       
    color: #fff;
    font-size: 20px;
}
/*--------------------------------------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagenesnav{
    width: 90px;
    max-width: 1000px;
    margin-top: auto;
    padding: auto;
}

.login{
    margin: auto;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #052D38;
}

/*SUSCRIPCIONES*/

.container{
    display: flex;
    margin: 60px;
    background-color: cadetblue;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    background-color: seashell;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 70%;
    height: 210px;
    padding-left: 30%;
    padding-top: 20%;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 3;
    color: black;
    font-weight: bold;
}

.container .card .contenido .precio{
    font-size: 200%;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: cadetblue;
    color: white;
}

